@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* .button_login {
  @apply hidden lg:block;
}

.button_signUp {
  @apply hidden lg:block;
} */

[data-theme="night"] {
  nav {
    @apply bg-neutral;
  }

  h1,
  h2,
  h3 {
    @apply text-success;
  }

  .nav_links {
    @apply text-success hover:text-info;
  }

  .button_login {
    @apply btn btn-info text-lg;
  }

  .button_signUp {
    @apply btn btn-outline btn-success text-xl;
  }

  .button_sidebar {
    @apply btn btn-neutral;
  }
}

[data-theme="corporate"] {
  nav {
    @apply bg-info;
  }

  .nav_links {
    @apply hover:text-green-200;
  }

  h1,
  h2,
  h3 {
    @apply text-info;
  }

  .button_login {
    @apply btn btn-info text-lg;
  }

  .button_signUp {
    @apply btn btn-success text-xl;
  }

  .button_sidebar {
    @apply btn btn-info;
  }
}
